
 
/* navbar start */

.var{

text-transform: uppercase;

}

/* navbar end */

/* cards start */

.section-head{

display: block;

display: flex;

justify-content: center;

align-items: center;

cursor: pointer;

position: relative;

}


.section-title{
    
    font-size: 30px;
    
    margin-bottom: 10px;
    
}

.section-head .line{

    position: absolute;

    /* display: block; */
    
    width: 100px;
    
    /* margin: auto; */
    
    height: 2px;
    
    background-color: cyan;
    
    transition: 0.5s;
 
    margin-top: 50px;

}

 
.section-head:hover .line{
    
width: 150px;
}

/* cards end */

/* carosel start */

.ao{

width: 300px;

height: 300px;

margin: auto;

margin-top: 20px;

margin-bottom: 50px;

}

/* carousel end */


#contact{

    padding: 5rem 0;
    
    background: gainsboro;
    
    
    
    }
    
    #contact .container{
    
    max-width: 900px;
    
    }
    
    #contact .contact-content{
    
    display: flex;
    
    justify-content: space-evenly;
    
    align-items: center;
    
    }
    
    #contact .contact-content .contact-info{
    
    width: 50%;
    
    }
    
    #contact .contact-content .contact-info div{
    
    margin: 30px 0;
    
    line-height: 1.7;
    
    }
    
    #contact .contact-content .contact-info h3{
    
    font-size: 30px;
    
    color: blue;
    
    margin-bottom: 10px;
    
    }
    
    #contact .contact-content .contact-info p{
    
    color: red;
    
    }
    
    #contact .contact-content .contact-info i{
    
    color: green;    
    
    margin-right: 5px;
    
    }
    
    #contact .contact-content .contact-info a i{
    
    color: white;
    
    background: cyan;
    
    padding: 15px;
    
    border-radius: 50%;
    
    font-size: 20px;
    
    }
    
    #contact .contact-content .contact-info a i:hover{
    
    background: gold;
    
    
    }
    
    form{
    
    width: 50%;
    
    }
    
    form input,
    textarea{
    
    display: block;
    
    width: 100%;
    
    padding: 20px 15px;
    
    margin: 20px 0;
    
    border: none;
    
    background: #e3e2dd;
    
}

#contact{

margin-top: 150px;

}

.btn{

/* background-color: blue; */

color: blue;

}
